.stars {
  position: absolute;
  top: -2300px;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 2100px 1444px #FFF , 1617px 1827px #FFF , 1433px 324px #FFF , 1604px 1741px #FFF , 1886px 11px #FFF , 48px 842px #FFF , 1758px 1068px #FFF , 1410px 317px #FFF , 1334px 1750px #FFF , 557px 378px #FFF , 2181px 1750px #FFF , 1889px 147px #FFF , 1273px 2217px #FFF , 168px 1161px #FFF , 575px 700px #FFF , 543px 2166px #FFF , 164px 179px #FFF , 641px 2101px #FFF , 2279px 615px #FFF , 1887px 26px #FFF , 476px 1169px #FFF , 94px 84px #FFF , 1106px 2005px #FFF , 86px 1655px #FFF , 2135px 2014px #FFF , 491px 2188px #FFF , 131px 1152px #FFF , 1605px 649px #FFF , 2161px 1215px #FFF , 274px 32px #FFF , 1443px 106px #FFF , 2089px 1697px #FFF , 929px 1971px #FFF , 1247px 1105px #FFF , 1673px 2202px #FFF , 1972px 460px #FFF , 474px 1603px #FFF , 594px 1405px #FFF , 1545px 2274px #FFF , 1337px 673px #FFF , 1794px 2175px #FFF , 2044px 2211px #FFF , 1433px 808px #FFF , 1671px 1845px #FFF , 833px 125px #FFF , 875px 3px #FFF , 1393px 800px #FFF , 1762px 1530px #FFF , 927px 347px #FFF , 1149px 42px #FFF , 1922px 915px #FFF , 1948px 1915px #FFF , 964px 676px #FFF , 2190px 1314px #FFF , 900px 1830px #FFF , 2040px 1481px #FFF , 1869px 2247px #FFF , 107px 1026px #FFF , 1633px 544px #FFF , 987px 1485px #FFF , 1467px 1506px #FFF , 557px 2298px #FFF , 639px 152px #FFF , 919px 1985px #FFF , 232px 1738px #FFF , 304px 678px #FFF , 1241px 1894px #FFF , 322px 1900px #FFF , 1697px 1945px #FFF , 1188px 1961px #FFF , 1536px 1214px #FFF , 863px 142px #FFF , 325px 2216px #FFF , 938px 320px #FFF , 757px 1687px #FFF , 173px 500px #FFF , 1586px 899px #FFF , 414px 236px #FFF , 399px 783px #FFF , 421px 955px #FFF , 1867px 265px #FFF , 608px 799px #FFF , 486px 1405px #FFF , 1461px 1120px #FFF , 2141px 789px #FFF , 363px 1635px #FFF , 1299px 1224px #FFF , 2040px 916px #FFF , 2266px 1427px #FFF , 221px 515px #FFF , 14px 1841px #FFF , 1775px 1022px #FFF , 149px 1052px #FFF , 1977px 2066px #FFF , 1203px 222px #FFF , 1828px 2251px #FFF , 1430px 482px #FFF , 824px 1839px #FFF , 865px 1014px #FFF , 847px 1850px #FFF , 1070px 1872px #FFF , 438px 1889px #FFF , 1894px 1854px #FFF , 2215px 676px #FFF , 537px 1468px #FFF , 1521px 1449px #FFF , 158px 197px #FFF , 898px 221px #FFF , 1194px 2164px #FFF , 2229px 1160px #FFF , 1321px 270px #FFF , 2227px 1252px #FFF , 2187px 659px #FFF , 1498px 100px #FFF , 576px 391px #FFF , 1479px 1487px #FFF , 1802px 2135px #FFF , 1920px 574px #FFF , 1041px 1801px #FFF , 90px 981px #FFF , 1917px 1819px #FFF , 793px 163px #FFF , 1849px 261px #FFF , 1950px 1341px #FFF , 147px 1400px #FFF , 80px 985px #FFF , 81px 2256px #FFF , 1925px 384px #FFF , 583px 299px #FFF , 1829px 1978px #FFF , 77px 2193px #FFF , 919px 1708px #FFF , 1867px 207px #FFF , 2172px 1652px #FFF , 1876px 1179px #FFF , 195px 940px #FFF , 190px 2038px #FFF , 190px 1365px #FFF , 2043px 1361px #FFF , 1666px 47px #FFF , 856px 1423px #FFF , 1955px 960px #FFF , 15px 675px #FFF , 1892px 1551px #FFF , 990px 574px #FFF , 58px 637px #FFF , 840px 248px #FFF , 41px 1849px #FFF , 584px 179px #FFF , 839px 2047px #FFF , 1768px 2103px #FFF , 785px 375px #FFF , 542px 2254px #FFF , 314px 541px #FFF , 791px 233px #FFF , 316px 1470px #FFF , 1309px 608px #FFF , 2276px 408px #FFF , 1610px 1107px #FFF , 1104px 350px #FFF , 568px 514px #FFF , 340px 87px #FFF , 2144px 105px #FFF , 1116px 1472px #FFF , 1567px 727px #FFF , 1530px 737px #FFF , 686px 22px #FFF , 989px 2098px #FFF , 1359px 323px #FFF , 1737px 1979px #FFF , 669px 1630px #FFF , 1515px 1875px #FFF , 1683px 1207px #FFF , 136px 1664px #FFF , 27px 1527px #FFF , 742px 2154px #FFF , 504px 815px #FFF , 261px 1420px #FFF , 582px 1131px #FFF , 1104px 916px #FFF , 1887px 1274px #FFF , 279px 336px #FFF , 776px 2146px #FFF , 1142px 1689px #FFF , 1437px 654px #FFF , 203px 1795px #FFF , 1605px 661px #FFF , 1752px 546px #FFF , 645px 351px #FFF , 1348px 17px #FFF , 1722px 462px #FFF , 1478px 1969px #FFF , 279px 169px #FFF , 1398px 86px #FFF , 1460px 1146px #FFF , 349px 1594px #FFF , 1620px 151px #FFF , 1349px 1454px #FFF , 2185px 64px #FFF , 1508px 1608px #FFF , 1621px 1987px #FFF , 638px 997px #FFF , 1636px 927px #FFF , 331px 1557px #FFF , 34px 1441px #FFF , 1742px 305px #FFF , 678px 268px #FFF , 87px 830px #FFF , 1634px 981px #FFF , 1964px 918px #FFF , 1789px 584px #FFF , 1084px 732px #FFF , 1387px 2216px #FFF , 62px 509px #FFF , 1637px 2231px #FFF , 1282px 1776px #FFF , 1058px 1339px #FFF , 2251px 943px #FFF , 2105px 1820px #FFF , 304px 768px #FFF , 352px 319px #FFF , 1092px 1971px #FFF , 770px 294px #FFF , 907px 1100px #FFF , 1726px 2193px #FFF , 451px 999px #FFF , 908px 1094px #FFF , 143px 775px #FFF , 1700px 1159px #FFF , 218px 1089px #FFF , 1119px 923px #FFF , 1119px 187px #FFF , 1722px 1359px #FFF , 540px 67px #FFF , 819px 446px #FFF , 2175px 1715px #FFF , 287px 1242px #FFF , 2092px 892px #FFF , 66px 1748px #FFF , 1439px 1245px #FFF , 1839px 136px #FFF , 2138px 1901px #FFF , 2281px 2033px #FFF , 76px 703px #FFF , 117px 1869px #FFF , 575px 831px #FFF , 1422px 1300px #FFF , 276px 1816px #FFF , 497px 1387px #FFF , 617px 2053px #FFF , 951px 2072px #FFF , 454px 2115px #FFF , 880px 459px #FFF , 280px 1044px #FFF , 1612px 447px #FFF , 2109px 848px #FFF , 253px 1318px #FFF , 1307px 1699px #FFF , 2102px 2007px #FFF , 1462px 1582px #FFF , 1932px 560px #FFF , 216px 1557px #FFF , 839px 1733px #FFF , 1690px 1059px #FFF , 1784px 1668px #FFF , 38px 1374px #FFF , 1758px 1733px #FFF , 1182px 805px #FFF , 1042px 1931px #FFF , 602px 427px #FFF , 1192px 14px #FFF , 880px 1756px #FFF , 2098px 1504px #FFF , 1757px 1563px #FFF , 1839px 742px #FFF , 1135px 877px #FFF , 175px 1327px #FFF , 200px 2016px #FFF , 261px 1752px #FFF , 91px 2285px #FFF , 2187px 211px #FFF , 2172px 563px #FFF , 732px 1996px #FFF , 1746px 1405px #FFF , 871px 289px #FFF , 64px 1857px #FFF , 1760px 1783px #FFF , 865px 1681px #FFF , 1354px 1819px #FFF , 1525px 2234px #FFF , 132px 1793px #FFF , 1670px 1217px #FFF , 491px 821px #FFF , 2061px 848px #FFF , 757px 2079px #FFF , 1870px 2193px #FFF , 1504px 207px #FFF , 866px 2059px #FFF , 678px 1985px #FFF , 1541px 1706px #FFF , 827px 870px #FFF , 179px 2233px #FFF , 882px 1425px #FFF , 363px 2022px #FFF , 67px 140px #FFF , 1985px 396px #FFF , 1779px 875px #FFF , 1434px 536px #FFF , 1251px 72px #FFF , 1945px 2294px #FFF , 153px 1314px #FFF , 31px 1279px #FFF , 2209px 1624px #FFF , 662px 440px #FFF , 1491px 453px #FFF , 1107px 936px #FFF , 1432px 1742px #FFF , 1043px 2087px #FFF , 622px 2161px #FFF , 22px 2116px #FFF , 1755px 202px #FFF , 2208px 961px #FFF , 1543px 1180px #FFF , 81px 1833px #FFF , 870px 251px #FFF , 1336px 564px #FFF , 1324px 641px #FFF , 2058px 868px #FFF , 128px 2154px #FFF , 2090px 1136px #FFF , 1295px 1035px #FFF , 1598px 1196px #FFF , 961px 145px #FFF , 51px 668px #FFF , 1828px 94px #FFF , 1919px 1088px #FFF , 145px 1772px #FFF , 565px 357px #FFF , 719px 643px #FFF , 1838px 2282px #FFF , 1311px 259px #FFF , 2187px 2052px #FFF , 1980px 647px #FFF , 1621px 1072px #FFF , 180px 1406px #FFF , 1384px 744px #FFF , 896px 799px #FFF , 30px 2009px #FFF , 267px 1615px #FFF , 1801px 1837px #FFF , 222px 473px #FFF , 942px 1353px #FFF , 434px 1698px #FFF , 953px 1331px #FFF , 985px 1142px #FFF , 1873px 754px #FFF , 507px 2052px #FFF , 1748px 776px #FFF , 1416px 2156px #FFF , 730px 2048px #FFF , 2200px 1680px #FFF , 326px 466px #FFF , 205px 1445px #FFF , 805px 997px #FFF , 1268px 1356px #FFF , 771px 183px #FFF , 1235px 2182px #FFF , 2023px 1625px #FFF , 1087px 1250px #FFF , 1790px 465px #FFF , 1359px 1329px #FFF , 2184px 1183px #FFF , 1862px 1103px #FFF , 1085px 570px #FFF , 163px 1071px #FFF , 2276px 2174px #FFF , 169px 1015px #FFF , 1118px 2267px #FFF , 2292px 1958px #FFF , 834px 2287px #FFF , 551px 1507px #FFF , 1142px 1279px #FFF , 2177px 931px #FFF , 1292px 641px #FFF , 407px 495px #FFF , 1277px 2118px #FFF , 1463px 1484px #FFF , 1537px 472px #FFF , 2243px 293px #FFF , 1178px 1282px #FFF , 1776px 55px #FFF , 1809px 625px #FFF , 1725px 1110px #FFF , 1271px 1538px #FFF , 1583px 1150px #FFF , 945px 649px #FFF , 1849px 2117px #FFF , 955px 1336px #FFF , 1744px 396px #FFF , 1280px 1726px #FFF , 739px 353px #FFF , 1023px 1081px #FFF , 341px 1461px #FFF , 1562px 532px #FFF , 1284px 115px #FFF , 393px 903px #FFF , 2011px 1623px #FFF , 1140px 1213px #FFF , 1278px 1007px #FFF , 2110px 1276px #FFF , 1632px 2132px #FFF , 550px 1579px #FFF , 2188px 1844px #FFF , 476px 949px #FFF , 1625px 2120px #FFF , 1059px 1268px #FFF , 767px 188px #FFF , 1104px 963px #FFF , 436px 1245px #FFF , 756px 829px #FFF , 1170px 2108px #FFF , 1841px 295px #FFF , 854px 1499px #FFF , 2202px 972px #FFF , 1694px 248px #FFF , 1131px 154px #FFF , 1430px 182px #FFF , 857px 77px #FFF , 1015px 296px #FFF , 2290px 552px #FFF , 505px 1855px #FFF , 819px 957px #FFF , 336px 712px #FFF , 1179px 1622px #FFF , 883px 741px #FFF , 1099px 1131px #FFF , 151px 1076px #FFF , 1889px 2273px #FFF , 754px 2211px #FFF , 1119px 2113px #FFF , 1526px 1071px #FFF , 818px 1237px #FFF , 483px 1137px #FFF , 752px 783px #FFF , 1296px 961px #FFF , 943px 753px #FFF , 2068px 554px #FFF , 910px 85px #FFF , 1934px 1341px #FFF , 1645px 865px #FFF , 2047px 58px #FFF , 2106px 1333px #FFF , 1853px 1361px #FFF , 999px 1256px #FFF , 81px 1751px #FFF , 788px 2252px #FFF , 358px 1571px #FFF , 1452px 298px #FFF , 1907px 1517px #FFF , 304px 2213px #FFF , 2077px 1630px #FFF , 264px 755px #FFF , 573px 709px #FFF , 179px 959px #FFF , 1918px 333px #FFF , 912px 753px #FFF , 2115px 1939px #FFF , 2076px 1545px #FFF , 136px 2054px #FFF , 664px 100px #FFF , 2079px 296px #FFF , 86px 350px #FFF , 1165px 343px #FFF , 1691px 1406px #FFF , 1160px 567px #FFF , 2006px 1804px #FFF , 640px 742px #FFF , 1706px 2180px #FFF , 1039px 1779px #FFF , 1518px 600px #FFF , 603px 2268px #FFF , 96px 1601px #FFF , 193px 502px #FFF , 861px 1651px #FFF , 279px 58px #FFF , 1148px 715px #FFF , 1510px 1143px #FFF , 2092px 1291px #FFF , 1458px 2147px #FFF , 260px 1896px #FFF , 1944px 387px #FFF , 1855px 1509px #FFF , 471px 135px #FFF , 1309px 31px #FFF , 501px 663px #FFF , 61px 81px #FFF , 475px 1243px #FFF , 243px 1474px #FFF , 560px 282px #FFF , 325px 1199px #FFF , 1607px 615px #FFF , 1158px 1020px #FFF , 439px 1263px #FFF , 1047px 1777px #FFF , 1954px 1007px #FFF , 1845px 2135px #FFF , 1984px 1434px #FFF , 548px 1868px #FFF , 827px 167px #FFF , 454px 1602px #FFF , 784px 1340px #FFF , 337px 2290px #FFF , 1806px 1179px #FFF , 1301px 2298px #FFF , 1625px 406px #FFF , 2226px 103px #FFF , 2050px 1689px #FFF , 181px 1601px #FFF , 790px 44px #FFF , 1967px 2198px #FFF , 257px 1025px #FFF , 1906px 2075px #FFF , 148px 724px #FFF , 496px 29px #FFF , 1489px 2162px #FFF , 24px 182px #FFF , 1068px 1732px #FFF , 731px 339px #FFF , 2037px 955px #FFF , 482px 850px #FFF , 947px 724px #FFF , 1164px 1658px #FFF , 2245px 894px #FFF , 1852px 1813px #FFF , 1915px 1333px #FFF , 2139px 2298px #FFF , 1572px 1859px #FFF , 1123px 852px #FFF , 1117px 2117px #FFF , 2025px 1470px #FFF , 9px 1537px #FFF , 1619px 687px #FFF , 2237px 1811px #FFF , 125px 1643px #FFF , 389px 1472px #FFF , 934px 1520px #FFF , 956px 1140px #FFF , 1692px 507px #FFF , 284px 1866px #FFF , 725px 22px #FFF , 1078px 1392px #FFF , 1630px 703px #FFF , 1260px 1114px #FFF , 660px 974px #FFF , 143px 2099px #FFF , 1957px 1240px #FFF , 502px 260px #FFF , 1285px 1257px #FFF , 848px 139px #FFF , 12px 1370px #FFF , 291px 1019px #FFF , 1374px 1187px #FFF , 525px 1846px #FFF , 1721px 1605px #FFF , 333px 1765px #FFF , 368px 1181px #FFF , 1279px 464px #FFF , 950px 791px #FFF , 2256px 343px #FFF , 1218px 1097px #FFF , 1101px 427px #FFF , 551px 754px #FFF , 1773px 948px #FFF , 968px 1663px #FFF , 1380px 40px #FFF , 1164px 1007px #FFF , 2107px 1807px #FFF , 1297px 1164px #FFF , 216px 2098px #FFF , 2100px 1678px #FFF , 1371px 1544px #FFF , 111px 1689px #FFF , 941px 991px #FFF , 916px 1534px #FFF , 1394px 1471px #FFF , 560px 1346px #FFF , 1755px 1526px #FFF , 632px 1516px #FFF , 770px 1454px #FFF , 811px 1341px #FFF , 2021px 554px #FFF , 233px 2171px #FFF , 802px 1046px #FFF , 1523px 289px #FFF , 2121px 1920px #FFF , 749px 2127px #FFF , 1136px 1543px #FFF , 258px 1908px #FFF , 2056px 2042px #FFF , 2126px 871px #FFF , 893px 564px #FFF , 889px 630px #FFF , 1306px 1553px #FFF , 1713px 2103px #FFF , 979px 1197px #FFF , 97px 322px #FFF , 932px 13px #FFF , 1610px 504px #FFF , 82px 422px #FFF , 1855px 1141px #FFF , 759px 278px #FFF , 1447px 159px #FFF , 2237px 371px #FFF , 77px 1137px #FFF , 1101px 737px #FFF , 1320px 58px #FFF , 919px 752px #FFF , 1386px 144px #FFF , 1908px 542px #FFF , 1668px 788px #FFF , 566px 2105px #FFF , 881px 654px #FFF , 1131px 1486px #FFF , 1077px 1986px #FFF , 1233px 1103px #FFF , 33px 917px #FFF , 593px 1507px #FFF , 2175px 862px #FFF , 2152px 1585px #FFF , 2152px 2165px #FFF , 430px 586px #FFF , 931px 1371px #FFF , 1999px 1417px #FFF , 123px 204px #FFF , 1422px 408px #FFF , 1386px 134px #FFF , 2093px 1874px #FFF , 522px 1139px #FFF , 701px 1943px #FFF , 343px 1254px #FFF , 402px 2204px #FFF , 1697px 398px #FFF , 2151px 1967px #FFF , 1851px 739px #FFF , 1505px 1727px #FFF , 2092px 52px #FFF , 1575px 1099px #FFF , 2237px 2088px #FFF , 866px 1912px #FFF , 987px 974px #FFF , 922px 89px #FFF , 1378px 1311px #FFF , 1487px 1630px #FFF , 1331px 2088px #FFF , 1168px 689px #FFF , 2165px 1606px #FFF , 912px 1605px #FFF , 559px 2210px #FFF , 789px 2083px #FFF , 1718px 2016px #FFF , 1588px 87px #FFF , 1969px 995px #FFF , 948px 100px #FFF , 2092px 694px #FFF , 1128px 1093px #FFF , 1116px 5px #FFF , 524px 1251px #FFF , 1460px 876px #FFF , 1059px 1342px #FFF , 237px 1136px #FFF , 2047px 1176px #FFF , 902px 420px #FFF , 496px 231px #FFF , 1335px 2283px #FFF , 1123px 2132px #FFF , 1406px 707px #FFF , 2151px 1036px #FFF , 940px 1590px #FFF , 872px 1769px #FFF , 2154px 2238px #FFF , 711px 267px #FFF , 933px 79px #FFF , 174px 1758px #FFF , 1626px 503px #FFF , 434px 270px #FFF , 1063px 157px #FFF , 607px 1543px #FFF , 1562px 329px #FFF , 399px 250px #FFF , 1953px 803px #FFF , 1890px 776px #FFF , 1386px 1944px #FFF , 1920px 1886px #FFF , 519px 847px #FFF , 334px 680px #FFF , 1548px 2032px #FFF , 2227px 856px #FFF , 68px 275px #FFF , 1197px 999px #FFF , 939px 557px #FFF;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2300px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 2100px 1444px #FFF , 1617px 1827px #FFF , 1433px 324px #FFF , 1604px 1741px #FFF , 1886px 11px #FFF , 48px 842px #FFF , 1758px 1068px #FFF , 1410px 317px #FFF , 1334px 1750px #FFF , 557px 378px #FFF , 2181px 1750px #FFF , 1889px 147px #FFF , 1273px 2217px #FFF , 168px 1161px #FFF , 575px 700px #FFF , 543px 2166px #FFF , 164px 179px #FFF , 641px 2101px #FFF , 2279px 615px #FFF , 1887px 26px #FFF , 476px 1169px #FFF , 94px 84px #FFF , 1106px 2005px #FFF , 86px 1655px #FFF , 2135px 2014px #FFF , 491px 2188px #FFF , 131px 1152px #FFF , 1605px 649px #FFF , 2161px 1215px #FFF , 274px 32px #FFF , 1443px 106px #FFF , 2089px 1697px #FFF , 929px 1971px #FFF , 1247px 1105px #FFF , 1673px 2202px #FFF , 1972px 460px #FFF , 474px 1603px #FFF , 594px 1405px #FFF , 1545px 2274px #FFF , 1337px 673px #FFF , 1794px 2175px #FFF , 2044px 2211px #FFF , 1433px 808px #FFF , 1671px 1845px #FFF , 833px 125px #FFF , 875px 3px #FFF , 1393px 800px #FFF , 1762px 1530px #FFF , 927px 347px #FFF , 1149px 42px #FFF , 1922px 915px #FFF , 1948px 1915px #FFF , 964px 676px #FFF , 2190px 1314px #FFF , 900px 1830px #FFF , 2040px 1481px #FFF , 1869px 2247px #FFF , 107px 1026px #FFF , 1633px 544px #FFF , 987px 1485px #FFF , 1467px 1506px #FFF , 557px 2298px #FFF , 639px 152px #FFF , 919px 1985px #FFF , 232px 1738px #FFF , 304px 678px #FFF , 1241px 1894px #FFF , 322px 1900px #FFF , 1697px 1945px #FFF , 1188px 1961px #FFF , 1536px 1214px #FFF , 863px 142px #FFF , 325px 2216px #FFF , 938px 320px #FFF , 757px 1687px #FFF , 173px 500px #FFF , 1586px 899px #FFF , 414px 236px #FFF , 399px 783px #FFF , 421px 955px #FFF , 1867px 265px #FFF , 608px 799px #FFF , 486px 1405px #FFF , 1461px 1120px #FFF , 2141px 789px #FFF , 363px 1635px #FFF , 1299px 1224px #FFF , 2040px 916px #FFF , 2266px 1427px #FFF , 221px 515px #FFF , 14px 1841px #FFF , 1775px 1022px #FFF , 149px 1052px #FFF , 1977px 2066px #FFF , 1203px 222px #FFF , 1828px 2251px #FFF , 1430px 482px #FFF , 824px 1839px #FFF , 865px 1014px #FFF , 847px 1850px #FFF , 1070px 1872px #FFF , 438px 1889px #FFF , 1894px 1854px #FFF , 2215px 676px #FFF , 537px 1468px #FFF , 1521px 1449px #FFF , 158px 197px #FFF , 898px 221px #FFF , 1194px 2164px #FFF , 2229px 1160px #FFF , 1321px 270px #FFF , 2227px 1252px #FFF , 2187px 659px #FFF , 1498px 100px #FFF , 576px 391px #FFF , 1479px 1487px #FFF , 1802px 2135px #FFF , 1920px 574px #FFF , 1041px 1801px #FFF , 90px 981px #FFF , 1917px 1819px #FFF , 793px 163px #FFF , 1849px 261px #FFF , 1950px 1341px #FFF , 147px 1400px #FFF , 80px 985px #FFF , 81px 2256px #FFF , 1925px 384px #FFF , 583px 299px #FFF , 1829px 1978px #FFF , 77px 2193px #FFF , 919px 1708px #FFF , 1867px 207px #FFF , 2172px 1652px #FFF , 1876px 1179px #FFF , 195px 940px #FFF , 190px 2038px #FFF , 190px 1365px #FFF , 2043px 1361px #FFF , 1666px 47px #FFF , 856px 1423px #FFF , 1955px 960px #FFF , 15px 675px #FFF , 1892px 1551px #FFF , 990px 574px #FFF , 58px 637px #FFF , 840px 248px #FFF , 41px 1849px #FFF , 584px 179px #FFF , 839px 2047px #FFF , 1768px 2103px #FFF , 785px 375px #FFF , 542px 2254px #FFF , 314px 541px #FFF , 791px 233px #FFF , 316px 1470px #FFF , 1309px 608px #FFF , 2276px 408px #FFF , 1610px 1107px #FFF , 1104px 350px #FFF , 568px 514px #FFF , 340px 87px #FFF , 2144px 105px #FFF , 1116px 1472px #FFF , 1567px 727px #FFF , 1530px 737px #FFF , 686px 22px #FFF , 989px 2098px #FFF , 1359px 323px #FFF , 1737px 1979px #FFF , 669px 1630px #FFF , 1515px 1875px #FFF , 1683px 1207px #FFF , 136px 1664px #FFF , 27px 1527px #FFF , 742px 2154px #FFF , 504px 815px #FFF , 261px 1420px #FFF , 582px 1131px #FFF , 1104px 916px #FFF , 1887px 1274px #FFF , 279px 336px #FFF , 776px 2146px #FFF , 1142px 1689px #FFF , 1437px 654px #FFF , 203px 1795px #FFF , 1605px 661px #FFF , 1752px 546px #FFF , 645px 351px #FFF , 1348px 17px #FFF , 1722px 462px #FFF , 1478px 1969px #FFF , 279px 169px #FFF , 1398px 86px #FFF , 1460px 1146px #FFF , 349px 1594px #FFF , 1620px 151px #FFF , 1349px 1454px #FFF , 2185px 64px #FFF , 1508px 1608px #FFF , 1621px 1987px #FFF , 638px 997px #FFF , 1636px 927px #FFF , 331px 1557px #FFF , 34px 1441px #FFF , 1742px 305px #FFF , 678px 268px #FFF , 87px 830px #FFF , 1634px 981px #FFF , 1964px 918px #FFF , 1789px 584px #FFF , 1084px 732px #FFF , 1387px 2216px #FFF , 62px 509px #FFF , 1637px 2231px #FFF , 1282px 1776px #FFF , 1058px 1339px #FFF , 2251px 943px #FFF , 2105px 1820px #FFF , 304px 768px #FFF , 352px 319px #FFF , 1092px 1971px #FFF , 770px 294px #FFF , 907px 1100px #FFF , 1726px 2193px #FFF , 451px 999px #FFF , 908px 1094px #FFF , 143px 775px #FFF , 1700px 1159px #FFF , 218px 1089px #FFF , 1119px 923px #FFF , 1119px 187px #FFF , 1722px 1359px #FFF , 540px 67px #FFF , 819px 446px #FFF , 2175px 1715px #FFF , 287px 1242px #FFF , 2092px 892px #FFF , 66px 1748px #FFF , 1439px 1245px #FFF , 1839px 136px #FFF , 2138px 1901px #FFF , 2281px 2033px #FFF , 76px 703px #FFF , 117px 1869px #FFF , 575px 831px #FFF , 1422px 1300px #FFF , 276px 1816px #FFF , 497px 1387px #FFF , 617px 2053px #FFF , 951px 2072px #FFF , 454px 2115px #FFF , 880px 459px #FFF , 280px 1044px #FFF , 1612px 447px #FFF , 2109px 848px #FFF , 253px 1318px #FFF , 1307px 1699px #FFF , 2102px 2007px #FFF , 1462px 1582px #FFF , 1932px 560px #FFF , 216px 1557px #FFF , 839px 1733px #FFF , 1690px 1059px #FFF , 1784px 1668px #FFF , 38px 1374px #FFF , 1758px 1733px #FFF , 1182px 805px #FFF , 1042px 1931px #FFF , 602px 427px #FFF , 1192px 14px #FFF , 880px 1756px #FFF , 2098px 1504px #FFF , 1757px 1563px #FFF , 1839px 742px #FFF , 1135px 877px #FFF , 175px 1327px #FFF , 200px 2016px #FFF , 261px 1752px #FFF , 91px 2285px #FFF , 2187px 211px #FFF , 2172px 563px #FFF , 732px 1996px #FFF , 1746px 1405px #FFF , 871px 289px #FFF , 64px 1857px #FFF , 1760px 1783px #FFF , 865px 1681px #FFF , 1354px 1819px #FFF , 1525px 2234px #FFF , 132px 1793px #FFF , 1670px 1217px #FFF , 491px 821px #FFF , 2061px 848px #FFF , 757px 2079px #FFF , 1870px 2193px #FFF , 1504px 207px #FFF , 866px 2059px #FFF , 678px 1985px #FFF , 1541px 1706px #FFF , 827px 870px #FFF , 179px 2233px #FFF , 882px 1425px #FFF , 363px 2022px #FFF , 67px 140px #FFF , 1985px 396px #FFF , 1779px 875px #FFF , 1434px 536px #FFF , 1251px 72px #FFF , 1945px 2294px #FFF , 153px 1314px #FFF , 31px 1279px #FFF , 2209px 1624px #FFF , 662px 440px #FFF , 1491px 453px #FFF , 1107px 936px #FFF , 1432px 1742px #FFF , 1043px 2087px #FFF , 622px 2161px #FFF , 22px 2116px #FFF , 1755px 202px #FFF , 2208px 961px #FFF , 1543px 1180px #FFF , 81px 1833px #FFF , 870px 251px #FFF , 1336px 564px #FFF , 1324px 641px #FFF , 2058px 868px #FFF , 128px 2154px #FFF , 2090px 1136px #FFF , 1295px 1035px #FFF , 1598px 1196px #FFF , 961px 145px #FFF , 51px 668px #FFF , 1828px 94px #FFF , 1919px 1088px #FFF , 145px 1772px #FFF , 565px 357px #FFF , 719px 643px #FFF , 1838px 2282px #FFF , 1311px 259px #FFF , 2187px 2052px #FFF , 1980px 647px #FFF , 1621px 1072px #FFF , 180px 1406px #FFF , 1384px 744px #FFF , 896px 799px #FFF , 30px 2009px #FFF , 267px 1615px #FFF , 1801px 1837px #FFF , 222px 473px #FFF , 942px 1353px #FFF , 434px 1698px #FFF , 953px 1331px #FFF , 985px 1142px #FFF , 1873px 754px #FFF , 507px 2052px #FFF , 1748px 776px #FFF , 1416px 2156px #FFF , 730px 2048px #FFF , 2200px 1680px #FFF , 326px 466px #FFF , 205px 1445px #FFF , 805px 997px #FFF , 1268px 1356px #FFF , 771px 183px #FFF , 1235px 2182px #FFF , 2023px 1625px #FFF , 1087px 1250px #FFF , 1790px 465px #FFF , 1359px 1329px #FFF , 2184px 1183px #FFF , 1862px 1103px #FFF , 1085px 570px #FFF , 163px 1071px #FFF , 2276px 2174px #FFF , 169px 1015px #FFF , 1118px 2267px #FFF , 2292px 1958px #FFF , 834px 2287px #FFF , 551px 1507px #FFF , 1142px 1279px #FFF , 2177px 931px #FFF , 1292px 641px #FFF , 407px 495px #FFF , 1277px 2118px #FFF , 1463px 1484px #FFF , 1537px 472px #FFF , 2243px 293px #FFF , 1178px 1282px #FFF , 1776px 55px #FFF , 1809px 625px #FFF , 1725px 1110px #FFF , 1271px 1538px #FFF , 1583px 1150px #FFF , 945px 649px #FFF , 1849px 2117px #FFF , 955px 1336px #FFF , 1744px 396px #FFF , 1280px 1726px #FFF , 739px 353px #FFF , 1023px 1081px #FFF , 341px 1461px #FFF , 1562px 532px #FFF , 1284px 115px #FFF , 393px 903px #FFF , 2011px 1623px #FFF , 1140px 1213px #FFF , 1278px 1007px #FFF , 2110px 1276px #FFF , 1632px 2132px #FFF , 550px 1579px #FFF , 2188px 1844px #FFF , 476px 949px #FFF , 1625px 2120px #FFF , 1059px 1268px #FFF , 767px 188px #FFF , 1104px 963px #FFF , 436px 1245px #FFF , 756px 829px #FFF , 1170px 2108px #FFF , 1841px 295px #FFF , 854px 1499px #FFF , 2202px 972px #FFF , 1694px 248px #FFF , 1131px 154px #FFF , 1430px 182px #FFF , 857px 77px #FFF , 1015px 296px #FFF , 2290px 552px #FFF , 505px 1855px #FFF , 819px 957px #FFF , 336px 712px #FFF , 1179px 1622px #FFF , 883px 741px #FFF , 1099px 1131px #FFF , 151px 1076px #FFF , 1889px 2273px #FFF , 754px 2211px #FFF , 1119px 2113px #FFF , 1526px 1071px #FFF , 818px 1237px #FFF , 483px 1137px #FFF , 752px 783px #FFF , 1296px 961px #FFF , 943px 753px #FFF , 2068px 554px #FFF , 910px 85px #FFF , 1934px 1341px #FFF , 1645px 865px #FFF , 2047px 58px #FFF , 2106px 1333px #FFF , 1853px 1361px #FFF , 999px 1256px #FFF , 81px 1751px #FFF , 788px 2252px #FFF , 358px 1571px #FFF , 1452px 298px #FFF , 1907px 1517px #FFF , 304px 2213px #FFF , 2077px 1630px #FFF , 264px 755px #FFF , 573px 709px #FFF , 179px 959px #FFF , 1918px 333px #FFF , 912px 753px #FFF , 2115px 1939px #FFF , 2076px 1545px #FFF , 136px 2054px #FFF , 664px 100px #FFF , 2079px 296px #FFF , 86px 350px #FFF , 1165px 343px #FFF , 1691px 1406px #FFF , 1160px 567px #FFF , 2006px 1804px #FFF , 640px 742px #FFF , 1706px 2180px #FFF , 1039px 1779px #FFF , 1518px 600px #FFF , 603px 2268px #FFF , 96px 1601px #FFF , 193px 502px #FFF , 861px 1651px #FFF , 279px 58px #FFF , 1148px 715px #FFF , 1510px 1143px #FFF , 2092px 1291px #FFF , 1458px 2147px #FFF , 260px 1896px #FFF , 1944px 387px #FFF , 1855px 1509px #FFF , 471px 135px #FFF , 1309px 31px #FFF , 501px 663px #FFF , 61px 81px #FFF , 475px 1243px #FFF , 243px 1474px #FFF , 560px 282px #FFF , 325px 1199px #FFF , 1607px 615px #FFF , 1158px 1020px #FFF , 439px 1263px #FFF , 1047px 1777px #FFF , 1954px 1007px #FFF , 1845px 2135px #FFF , 1984px 1434px #FFF , 548px 1868px #FFF , 827px 167px #FFF , 454px 1602px #FFF , 784px 1340px #FFF , 337px 2290px #FFF , 1806px 1179px #FFF , 1301px 2298px #FFF , 1625px 406px #FFF , 2226px 103px #FFF , 2050px 1689px #FFF , 181px 1601px #FFF , 790px 44px #FFF , 1967px 2198px #FFF , 257px 1025px #FFF , 1906px 2075px #FFF , 148px 724px #FFF , 496px 29px #FFF , 1489px 2162px #FFF , 24px 182px #FFF , 1068px 1732px #FFF , 731px 339px #FFF , 2037px 955px #FFF , 482px 850px #FFF , 947px 724px #FFF , 1164px 1658px #FFF , 2245px 894px #FFF , 1852px 1813px #FFF , 1915px 1333px #FFF , 2139px 2298px #FFF , 1572px 1859px #FFF , 1123px 852px #FFF , 1117px 2117px #FFF , 2025px 1470px #FFF , 9px 1537px #FFF , 1619px 687px #FFF , 2237px 1811px #FFF , 125px 1643px #FFF , 389px 1472px #FFF , 934px 1520px #FFF , 956px 1140px #FFF , 1692px 507px #FFF , 284px 1866px #FFF , 725px 22px #FFF , 1078px 1392px #FFF , 1630px 703px #FFF , 1260px 1114px #FFF , 660px 974px #FFF , 143px 2099px #FFF , 1957px 1240px #FFF , 502px 260px #FFF , 1285px 1257px #FFF , 848px 139px #FFF , 12px 1370px #FFF , 291px 1019px #FFF , 1374px 1187px #FFF , 525px 1846px #FFF , 1721px 1605px #FFF , 333px 1765px #FFF , 368px 1181px #FFF , 1279px 464px #FFF , 950px 791px #FFF , 2256px 343px #FFF , 1218px 1097px #FFF , 1101px 427px #FFF , 551px 754px #FFF , 1773px 948px #FFF , 968px 1663px #FFF , 1380px 40px #FFF , 1164px 1007px #FFF , 2107px 1807px #FFF , 1297px 1164px #FFF , 216px 2098px #FFF , 2100px 1678px #FFF , 1371px 1544px #FFF , 111px 1689px #FFF , 941px 991px #FFF , 916px 1534px #FFF , 1394px 1471px #FFF , 560px 1346px #FFF , 1755px 1526px #FFF , 632px 1516px #FFF , 770px 1454px #FFF , 811px 1341px #FFF , 2021px 554px #FFF , 233px 2171px #FFF , 802px 1046px #FFF , 1523px 289px #FFF , 2121px 1920px #FFF , 749px 2127px #FFF , 1136px 1543px #FFF , 258px 1908px #FFF , 2056px 2042px #FFF , 2126px 871px #FFF , 893px 564px #FFF , 889px 630px #FFF , 1306px 1553px #FFF , 1713px 2103px #FFF , 979px 1197px #FFF , 97px 322px #FFF , 932px 13px #FFF , 1610px 504px #FFF , 82px 422px #FFF , 1855px 1141px #FFF , 759px 278px #FFF , 1447px 159px #FFF , 2237px 371px #FFF , 77px 1137px #FFF , 1101px 737px #FFF , 1320px 58px #FFF , 919px 752px #FFF , 1386px 144px #FFF , 1908px 542px #FFF , 1668px 788px #FFF , 566px 2105px #FFF , 881px 654px #FFF , 1131px 1486px #FFF , 1077px 1986px #FFF , 1233px 1103px #FFF , 33px 917px #FFF , 593px 1507px #FFF , 2175px 862px #FFF , 2152px 1585px #FFF , 2152px 2165px #FFF , 430px 586px #FFF , 931px 1371px #FFF , 1999px 1417px #FFF , 123px 204px #FFF , 1422px 408px #FFF , 1386px 134px #FFF , 2093px 1874px #FFF , 522px 1139px #FFF , 701px 1943px #FFF , 343px 1254px #FFF , 402px 2204px #FFF , 1697px 398px #FFF , 2151px 1967px #FFF , 1851px 739px #FFF , 1505px 1727px #FFF , 2092px 52px #FFF , 1575px 1099px #FFF , 2237px 2088px #FFF , 866px 1912px #FFF , 987px 974px #FFF , 922px 89px #FFF , 1378px 1311px #FFF , 1487px 1630px #FFF , 1331px 2088px #FFF , 1168px 689px #FFF , 2165px 1606px #FFF , 912px 1605px #FFF , 559px 2210px #FFF , 789px 2083px #FFF , 1718px 2016px #FFF , 1588px 87px #FFF , 1969px 995px #FFF , 948px 100px #FFF , 2092px 694px #FFF , 1128px 1093px #FFF , 1116px 5px #FFF , 524px 1251px #FFF , 1460px 876px #FFF , 1059px 1342px #FFF , 237px 1136px #FFF , 2047px 1176px #FFF , 902px 420px #FFF , 496px 231px #FFF , 1335px 2283px #FFF , 1123px 2132px #FFF , 1406px 707px #FFF , 2151px 1036px #FFF , 940px 1590px #FFF , 872px 1769px #FFF , 2154px 2238px #FFF , 711px 267px #FFF , 933px 79px #FFF , 174px 1758px #FFF , 1626px 503px #FFF , 434px 270px #FFF , 1063px 157px #FFF , 607px 1543px #FFF , 1562px 329px #FFF , 399px 250px #FFF , 1953px 803px #FFF , 1890px 776px #FFF , 1386px 1944px #FFF , 1920px 1886px #FFF , 519px 847px #FFF , 334px 680px #FFF , 1548px 2032px #FFF , 2227px 856px #FFF , 68px 275px #FFF , 1197px 999px #FFF , 939px 557px #FFF;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 223px 1192px #FFF , 856px 1941px #FFF , 1797px 1493px #FFF , 141px 1993px #FFF , 2140px 1636px #FFF , 315px 848px #FFF , 967px 712px #FFF , 930px 1931px #FFF , 749px 1726px #FFF , 1996px 1964px #FFF , 808px 2170px #FFF , 1409px 522px #FFF , 1800px 211px #FFF , 2062px 2131px #FFF , 1356px 882px #FFF , 1789px 2118px #FFF , 406px 1629px #FFF , 2018px 1380px #FFF , 1788px 444px #FFF , 496px 1212px #FFF , 2215px 470px #FFF , 2047px 1006px #FFF , 1808px 1368px #FFF , 1502px 1204px #FFF , 924px 1590px #FFF , 673px 1037px #FFF , 719px 346px #FFF , 1997px 258px #FFF , 1627px 1753px #FFF , 285px 617px #FFF , 1368px 1088px #FFF , 1659px 2084px #FFF , 1346px 657px #FFF , 937px 1046px #FFF , 1828px 448px #FFF , 1564px 846px #FFF , 1677px 112px #FFF , 291px 1668px #FFF , 1278px 1027px #FFF , 854px 1349px #FFF , 1191px 1182px #FFF , 1908px 1617px #FFF , 2216px 871px #FFF , 1271px 1227px #FFF , 1027px 852px #FFF , 2237px 1631px #FFF , 2050px 1820px #FFF , 1638px 2049px #FFF , 1375px 560px #FFF , 2034px 1536px #FFF , 1470px 540px #FFF , 761px 1999px #FFF , 211px 1427px #FFF , 1125px 1912px #FFF , 2023px 1377px #FFF , 539px 451px #FFF , 936px 656px #FFF , 1912px 2276px #FFF , 981px 656px #FFF , 92px 1692px #FFF , 2002px 1568px #FFF , 2113px 896px #FFF , 1975px 615px #FFF , 435px 675px #FFF , 970px 1513px #FFF , 358px 27px #FFF , 2186px 1984px #FFF , 1997px 910px #FFF , 115px 2251px #FFF , 57px 86px #FFF , 1707px 1661px #FFF , 1597px 1670px #FFF , 1485px 1765px #FFF , 516px 947px #FFF , 1284px 1112px #FFF , 2063px 2003px #FFF , 574px 2159px #FFF , 1213px 1968px #FFF , 124px 2145px #FFF , 8px 48px #FFF , 1138px 621px #FFF , 1804px 1627px #FFF , 204px 1570px #FFF , 1415px 2274px #FFF , 693px 2283px #FFF , 1869px 1943px #FFF , 1778px 890px #FFF , 757px 2031px #FFF , 388px 1108px #FFF , 540px 1936px #FFF , 1882px 1817px #FFF , 2038px 632px #FFF , 1782px 2145px #FFF , 945px 1945px #FFF , 37px 697px #FFF , 2297px 1929px #FFF , 1897px 2078px #FFF , 1161px 113px #FFF , 2062px 751px #FFF , 1357px 2015px #FFF , 2119px 1468px #FFF , 1905px 1898px #FFF , 2107px 1882px #FFF , 2251px 1189px #FFF , 1457px 6px #FFF , 705px 475px #FFF , 460px 275px #FFF , 1773px 715px #FFF , 687px 1667px #FFF , 1113px 881px #FFF , 1232px 980px #FFF , 779px 1024px #FFF , 1029px 1856px #FFF , 257px 438px #FFF , 939px 1892px #FFF , 188px 1019px #FFF , 309px 90px #FFF , 2023px 1612px #FFF , 176px 763px #FFF , 396px 2082px #FFF , 1641px 1907px #FFF , 584px 315px #FFF , 2164px 646px #FFF , 828px 341px #FFF , 2022px 1299px #FFF , 1711px 1628px #FFF , 1358px 1497px #FFF , 101px 537px #FFF , 1325px 1001px #FFF , 2027px 1070px #FFF , 1627px 48px #FFF , 766px 218px #FFF , 551px 250px #FFF , 14px 416px #FFF , 1348px 577px #FFF , 766px 1787px #FFF , 1221px 1834px #FFF , 1812px 1487px #FFF , 1294px 789px #FFF , 1680px 2011px #FFF , 948px 865px #FFF , 499px 417px #FFF , 809px 877px #FFF , 1894px 1511px #FFF , 70px 1946px #FFF , 398px 1165px #FFF , 1675px 2229px #FFF , 2055px 1962px #FFF , 881px 1872px #FFF , 418px 161px #FFF , 2267px 2047px #FFF , 2004px 725px #FFF , 1612px 1374px #FFF , 218px 1050px #FFF , 1744px 712px #FFF , 443px 444px #FFF , 538px 146px #FFF , 554px 1103px #FFF , 676px 2083px #FFF , 1546px 1710px #FFF , 331px 2018px #FFF , 2055px 38px #FFF , 514px 1636px #FFF , 1214px 1801px #FFF , 55px 1757px #FFF , 267px 2020px #FFF , 2271px 1965px #FFF , 1591px 243px #FFF , 751px 1881px #FFF , 528px 713px #FFF , 1660px 2138px #FFF , 5px 2007px #FFF , 965px 1854px #FFF , 114px 972px #FFF , 2217px 939px #FFF , 487px 583px #FFF , 2097px 1270px #FFF , 28px 541px #FFF , 910px 2049px #FFF , 1172px 1569px #FFF , 1167px 1002px #FFF , 1183px 1136px #FFF , 1469px 1930px #FFF , 1441px 578px #FFF , 1083px 92px #FFF , 1995px 1829px #FFF , 910px 217px #FFF , 1631px 1489px #FFF , 648px 708px #FFF , 1946px 1995px #FFF , 1215px 2117px #FFF , 1734px 1262px #FFF , 2151px 1478px #FFF , 724px 629px #FFF , 304px 1275px #FFF , 1149px 665px #FFF , 1197px 2253px #FFF , 1735px 1490px #FFF , 2102px 2151px #FFF , 1569px 536px #FFF;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2300px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 223px 1192px #FFF , 856px 1941px #FFF , 1797px 1493px #FFF , 141px 1993px #FFF , 2140px 1636px #FFF , 315px 848px #FFF , 967px 712px #FFF , 930px 1931px #FFF , 749px 1726px #FFF , 1996px 1964px #FFF , 808px 2170px #FFF , 1409px 522px #FFF , 1800px 211px #FFF , 2062px 2131px #FFF , 1356px 882px #FFF , 1789px 2118px #FFF , 406px 1629px #FFF , 2018px 1380px #FFF , 1788px 444px #FFF , 496px 1212px #FFF , 2215px 470px #FFF , 2047px 1006px #FFF , 1808px 1368px #FFF , 1502px 1204px #FFF , 924px 1590px #FFF , 673px 1037px #FFF , 719px 346px #FFF , 1997px 258px #FFF , 1627px 1753px #FFF , 285px 617px #FFF , 1368px 1088px #FFF , 1659px 2084px #FFF , 1346px 657px #FFF , 937px 1046px #FFF , 1828px 448px #FFF , 1564px 846px #FFF , 1677px 112px #FFF , 291px 1668px #FFF , 1278px 1027px #FFF , 854px 1349px #FFF , 1191px 1182px #FFF , 1908px 1617px #FFF , 2216px 871px #FFF , 1271px 1227px #FFF , 1027px 852px #FFF , 2237px 1631px #FFF , 2050px 1820px #FFF , 1638px 2049px #FFF , 1375px 560px #FFF , 2034px 1536px #FFF , 1470px 540px #FFF , 761px 1999px #FFF , 211px 1427px #FFF , 1125px 1912px #FFF , 2023px 1377px #FFF , 539px 451px #FFF , 936px 656px #FFF , 1912px 2276px #FFF , 981px 656px #FFF , 92px 1692px #FFF , 2002px 1568px #FFF , 2113px 896px #FFF , 1975px 615px #FFF , 435px 675px #FFF , 970px 1513px #FFF , 358px 27px #FFF , 2186px 1984px #FFF , 1997px 910px #FFF , 115px 2251px #FFF , 57px 86px #FFF , 1707px 1661px #FFF , 1597px 1670px #FFF , 1485px 1765px #FFF , 516px 947px #FFF , 1284px 1112px #FFF , 2063px 2003px #FFF , 574px 2159px #FFF , 1213px 1968px #FFF , 124px 2145px #FFF , 8px 48px #FFF , 1138px 621px #FFF , 1804px 1627px #FFF , 204px 1570px #FFF , 1415px 2274px #FFF , 693px 2283px #FFF , 1869px 1943px #FFF , 1778px 890px #FFF , 757px 2031px #FFF , 388px 1108px #FFF , 540px 1936px #FFF , 1882px 1817px #FFF , 2038px 632px #FFF , 1782px 2145px #FFF , 945px 1945px #FFF , 37px 697px #FFF , 2297px 1929px #FFF , 1897px 2078px #FFF , 1161px 113px #FFF , 2062px 751px #FFF , 1357px 2015px #FFF , 2119px 1468px #FFF , 1905px 1898px #FFF , 2107px 1882px #FFF , 2251px 1189px #FFF , 1457px 6px #FFF , 705px 475px #FFF , 460px 275px #FFF , 1773px 715px #FFF , 687px 1667px #FFF , 1113px 881px #FFF , 1232px 980px #FFF , 779px 1024px #FFF , 1029px 1856px #FFF , 257px 438px #FFF , 939px 1892px #FFF , 188px 1019px #FFF , 309px 90px #FFF , 2023px 1612px #FFF , 176px 763px #FFF , 396px 2082px #FFF , 1641px 1907px #FFF , 584px 315px #FFF , 2164px 646px #FFF , 828px 341px #FFF , 2022px 1299px #FFF , 1711px 1628px #FFF , 1358px 1497px #FFF , 101px 537px #FFF , 1325px 1001px #FFF , 2027px 1070px #FFF , 1627px 48px #FFF , 766px 218px #FFF , 551px 250px #FFF , 14px 416px #FFF , 1348px 577px #FFF , 766px 1787px #FFF , 1221px 1834px #FFF , 1812px 1487px #FFF , 1294px 789px #FFF , 1680px 2011px #FFF , 948px 865px #FFF , 499px 417px #FFF , 809px 877px #FFF , 1894px 1511px #FFF , 70px 1946px #FFF , 398px 1165px #FFF , 1675px 2229px #FFF , 2055px 1962px #FFF , 881px 1872px #FFF , 418px 161px #FFF , 2267px 2047px #FFF , 2004px 725px #FFF , 1612px 1374px #FFF , 218px 1050px #FFF , 1744px 712px #FFF , 443px 444px #FFF , 538px 146px #FFF , 554px 1103px #FFF , 676px 2083px #FFF , 1546px 1710px #FFF , 331px 2018px #FFF , 2055px 38px #FFF , 514px 1636px #FFF , 1214px 1801px #FFF , 55px 1757px #FFF , 267px 2020px #FFF , 2271px 1965px #FFF , 1591px 243px #FFF , 751px 1881px #FFF , 528px 713px #FFF , 1660px 2138px #FFF , 5px 2007px #FFF , 965px 1854px #FFF , 114px 972px #FFF , 2217px 939px #FFF , 487px 583px #FFF , 2097px 1270px #FFF , 28px 541px #FFF , 910px 2049px #FFF , 1172px 1569px #FFF , 1167px 1002px #FFF , 1183px 1136px #FFF , 1469px 1930px #FFF , 1441px 578px #FFF , 1083px 92px #FFF , 1995px 1829px #FFF , 910px 217px #FFF , 1631px 1489px #FFF , 648px 708px #FFF , 1946px 1995px #FFF , 1215px 2117px #FFF , 1734px 1262px #FFF , 2151px 1478px #FFF , 724px 629px #FFF , 304px 1275px #FFF , 1149px 665px #FFF , 1197px 2253px #FFF , 1735px 1490px #FFF , 2102px 2151px #FFF , 1569px 536px #FFF;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 2065px 2232px #FFF , 1822px 1846px #FFF , 1505px 819px #FFF , 1946px 655px #FFF , 2272px 1460px #FFF , 518px 122px #FFF , 1631px 947px #FFF , 2174px 1631px #FFF , 26px 186px #FFF , 2167px 211px #FFF , 1195px 847px #FFF , 383px 2038px #FFF , 1652px 1235px #FFF , 1961px 1734px #FFF , 463px 1410px #FFF , 335px 1252px #FFF , 780px 983px #FFF , 199px 1323px #FFF , 1424px 1698px #FFF , 1328px 1416px #FFF , 176px 1282px #FFF , 660px 1439px #FFF , 565px 1679px #FFF , 1163px 405px #FFF , 844px 1194px #FFF , 2267px 2187px #FFF , 748px 2117px #FFF , 2207px 1082px #FFF , 1481px 1205px #FFF , 1884px 1945px #FFF , 2268px 42px #FFF , 1566px 1762px #FFF , 1357px 1971px #FFF , 1189px 1210px #FFF , 17px 1106px #FFF , 336px 1422px #FFF , 1899px 837px #FFF , 722px 1663px #FFF , 1891px 897px #FFF , 1320px 1737px #FFF , 1859px 516px #FFF , 1843px 1767px #FFF , 1980px 75px #FFF , 1487px 2129px #FFF , 2001px 1690px #FFF , 1511px 2272px #FFF , 1291px 966px #FFF , 71px 1616px #FFF , 1880px 282px #FFF , 944px 1869px #FFF , 2266px 1591px #FFF , 837px 1846px #FFF , 1879px 1805px #FFF , 1793px 796px #FFF , 285px 2037px #FFF , 1706px 186px #FFF , 1906px 1181px #FFF , 1157px 696px #FFF , 410px 207px #FFF , 956px 1719px #FFF , 2251px 1897px #FFF , 1802px 161px #FFF , 673px 1997px #FFF , 1803px 1317px #FFF , 1771px 2146px #FFF , 533px 1860px #FFF , 1701px 272px #FFF , 320px 359px #FFF , 844px 689px #FFF , 272px 1789px #FFF , 493px 160px #FFF , 891px 602px #FFF , 2005px 1597px #FFF , 2237px 391px #FFF , 2185px 40px #FFF , 334px 1208px #FFF , 1985px 2292px #FFF , 1548px 1090px #FFF , 1295px 424px #FFF , 810px 1598px #FFF , 1933px 769px #FFF , 1892px 874px #FFF , 1763px 1553px #FFF , 775px 1175px #FFF , 2169px 2235px #FFF , 260px 1268px #FFF , 952px 877px #FFF , 628px 1639px #FFF , 1632px 1160px #FFF , 1869px 1385px #FFF , 133px 425px #FFF , 378px 1005px #FFF , 1892px 2254px #FFF , 2028px 898px #FFF , 463px 1988px #FFF , 1161px 645px #FFF , 1593px 686px #FFF , 2125px 1919px #FFF , 2153px 418px #FFF , 1879px 2225px #FFF;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2300px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 2065px 2232px #FFF , 1822px 1846px #FFF , 1505px 819px #FFF , 1946px 655px #FFF , 2272px 1460px #FFF , 518px 122px #FFF , 1631px 947px #FFF , 2174px 1631px #FFF , 26px 186px #FFF , 2167px 211px #FFF , 1195px 847px #FFF , 383px 2038px #FFF , 1652px 1235px #FFF , 1961px 1734px #FFF , 463px 1410px #FFF , 335px 1252px #FFF , 780px 983px #FFF , 199px 1323px #FFF , 1424px 1698px #FFF , 1328px 1416px #FFF , 176px 1282px #FFF , 660px 1439px #FFF , 565px 1679px #FFF , 1163px 405px #FFF , 844px 1194px #FFF , 2267px 2187px #FFF , 748px 2117px #FFF , 2207px 1082px #FFF , 1481px 1205px #FFF , 1884px 1945px #FFF , 2268px 42px #FFF , 1566px 1762px #FFF , 1357px 1971px #FFF , 1189px 1210px #FFF , 17px 1106px #FFF , 336px 1422px #FFF , 1899px 837px #FFF , 722px 1663px #FFF , 1891px 897px #FFF , 1320px 1737px #FFF , 1859px 516px #FFF , 1843px 1767px #FFF , 1980px 75px #FFF , 1487px 2129px #FFF , 2001px 1690px #FFF , 1511px 2272px #FFF , 1291px 966px #FFF , 71px 1616px #FFF , 1880px 282px #FFF , 944px 1869px #FFF , 2266px 1591px #FFF , 837px 1846px #FFF , 1879px 1805px #FFF , 1793px 796px #FFF , 285px 2037px #FFF , 1706px 186px #FFF , 1906px 1181px #FFF , 1157px 696px #FFF , 410px 207px #FFF , 956px 1719px #FFF , 2251px 1897px #FFF , 1802px 161px #FFF , 673px 1997px #FFF , 1803px 1317px #FFF , 1771px 2146px #FFF , 533px 1860px #FFF , 1701px 272px #FFF , 320px 359px #FFF , 844px 689px #FFF , 272px 1789px #FFF , 493px 160px #FFF , 891px 602px #FFF , 2005px 1597px #FFF , 2237px 391px #FFF , 2185px 40px #FFF , 334px 1208px #FFF , 1985px 2292px #FFF , 1548px 1090px #FFF , 1295px 424px #FFF , 810px 1598px #FFF , 1933px 769px #FFF , 1892px 874px #FFF , 1763px 1553px #FFF , 775px 1175px #FFF , 2169px 2235px #FFF , 260px 1268px #FFF , 952px 877px #FFF , 628px 1639px #FFF , 1632px 1160px #FFF , 1869px 1385px #FFF , 133px 425px #FFF , 378px 1005px #FFF , 1892px 2254px #FFF , 2028px 898px #FFF , 463px 1988px #FFF , 1161px 645px #FFF , 1593px 686px #FFF , 2125px 1919px #FFF , 2153px 418px #FFF , 1879px 2225px #FFF;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2300px);
  }
}
body {
  font-family: "Saira Semi Condensed", sans-serif;
  color: white;
  background-color: black;
  background-size: 200px 200px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.1) 0.8px, transparent 1px), linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0.8px, transparent 1px);
}

.padding {
  padding: 24px 90px 68px 90px;
}

.background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -70px;
}

.d-flex {
  display: flex;
}

.container {
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;
}

.col {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 1;
  margin: 0 10px;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
}

.col-1 {
  max-width: calc(100% / 12);
}

.col-2 {
  max-width: calc(100% / 12 * 2);
}

.col-3 {
  max-width: calc(100% / 12 * 3);
}

.col-4 {
  max-width: calc(100% / 12 * 4);
}

.col-5 {
  max-width: calc(100% / 12 * 5);
}

.col-6 {
  max-width: calc(100% / 2);
}

.navbar {
  display: flex;
  align-items: center;
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.navbar-item:not(:last-child) {
  margin-right: 48px;
  white-space: nowrap;
  word-break: keep-all;
}
.navbar-item:first-child {
  margin-right: auto;
}
.navbar-link {
  color: white;
  opacity: 0.5;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none !important;
}
.navbar .active {
  opacity: 1;
}
.navbar-item:first-child a {
  opacity: 1;
  font-weight: bold;
  font-style: italic;
  display: flex;
  align-items: center;
}
.navbar-item:first-child a img {
  width: 28px;
  height: 19px;
  margin-right: 2px;
}

.main {
  margin-top: 120px;
  position: relative;
  z-index: 100;
}

.row-main {
  justify-content: space-between;
}

.col-cards {
  margin-right: -29px;
}

.number {
  opacity: 0.87;
  font-size: 140px;
  font-weight: 700;
  line-height: 0.93;
  color: #222121;
  margin-left: -50px;
}

.title {
  position: relative;
  font-size: 64px;
  font-weight: 600;
  line-height: 1.22;
  color: white;
  margin: -50px 0 0 0;
}
.title span {
  font-weight: normal;
}

.text {
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #aaafb7;
  margin-bottom: 0;
  min-height: 120px;
}

.trapezoid {
  height: 0;
  width: 149px;
  margin-top: 34px;
}
.trapezoid span {
  display: block;
  padding-left: 12px;
  white-space: nowrap;
}
.trapezoid-right {
  border-top: 60px solid rgba(255, 255, 255, 0.1);
  border-right: 20px solid transparent;
}
.trapezoid-right span:first-child {
  margin-top: -58px;
}
.trapezoid-left {
  border-bottom: 60px solid rgba(255, 255, 255, 0.1);
  border-left: 20px solid transparent;
  margin-left: -10px;
}
.trapezoid-left span:first-child {
  padding-top: 2px;
}
.trapezoid-title {
  font-size: 12px;
  line-height: 2.17;
  color: #aaafb7;
}
.trapezoid-info {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.38;
  color: white;
}

.link {
  text-decoration: none !important;
  font-size: 14px;
  font-weight: 500;
  color: #3699ff;
  margin-top: 34px;
  display: block;
}

.related {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
  width: 285px;
}
.related image {
  cursor: pointer;
}

.polygon {
  clip-path: polygon(50% 0%, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0 50%, 0 0);
}

.card {
  box-sizing: border-box;
  position: relative;
  width: 285px;
  min-height: 165px;
  background-color: rgba(255, 255, 255, 0.23);
  margin-bottom: 32px;
  transition: all 0.3s ease;
}
.card:hover {
  cursor: pointer;
  margin-left: 20px;
}
.card-content {
  position: absolute;
  top: 1px;
  left: 1px;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  background-color: black;
}
.card-content-main {
  padding: 19px 0 21px 16px;
  display: flex;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
}
.info-number {
  font-size: 14px;
  font-weight: 500;
  color: #5b5e63;
}
.info-name {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.82;
  color: white;
}
.info-desc {
  font-size: 12px;
  line-height: 1.42;
  color: #aaafb7;
}

.card-active, .card:hover {
  background-color: white;
  margin-left: 29px;
}
.card-active .info-number, .card:hover .info-number {
  color: #3699ff;
}

.video-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -2;
}

.video {
  width: 600px;
  height: auto;
  border-radius: 50%;
}

.audio {
  visibility: hidden;
}

@media (min-width: 1600px) {
  .padding {
    width: 1450px;
    display: block;
    margin: 0 auto;
  }
}
@media (max-width: 1200px) {
  .main {
    margin-top: 60px;
  }

  .video-container {
    position: relative;
    top: auto;
    left: auto;
    transform: none;
  }

  video {
    display: block;
    margin: 0 auto;
  }

  .col:not(.col-auto) {
    min-width: 50%;
    width: 50%;
    margin: 10px 0;
  }
}
@media (max-width: 768px) {
  .container {
    overflow: auto;
  }

  .col {
    min-width: 100% !important;
    width: 100% !important;
    margin: 10px 0;
  }
}
@media (max-width: 768px) {
  .padding {
    padding-right: 30px;
    padding-left: 30px;
  }

  .video {
    width: 400px;
  }

  .navbar-item {
    margin-right: 17px !important;
  }

  .title {
    font-size: 50px;
  }

  .number {
    font-size: 120px;
    margin-left: -25px;
    margin-top: -20px;
  }
}
@media (max-width: 400px) {
  .video {
    width: 300px;
  }

  .navbar-item:not(:first-child) {
    display: none;
  }

  .navbar-item {
    margin-right: 13px !important;
  }

  .title {
    font-size: 45px;
  }

  .number {
    font-size: 100px;
  }
}

/*# sourceMappingURL=styles.css.map */
